.groupDivContainerStyle {
  position: fixed;
  width: 100vw;
  top: 5vh;
  height: 90vh;
  background: linear-gradient(
    to bottom right,
    rgba(21, 21, 21, 1),
    rgba(21, 21, 21, 0.8)
  );
}
.groupDivStyle {
  overflow-y: scroll;
  top: 5vh;
  height: 90vh;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgba(21, 21, 21, 1),
    rgba(21, 21, 21, 0.8)
  );
}
