.group-container {
  position: fixed;
  width: 100vw;
  transform: translateY(5vh);
  height: calc((100% - 100vh) + 90vh);
  background: linear-gradient(
    to bottom right,
    rgba(21, 21, 21, 1),
    rgba(21, 21, 21, 0.8)
  );
}
