.note-component-container {
  position: relative;
  transform: translateY(5vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(
    to bottom right,
    rgba(21, 21, 21, 1),
    rgba(21, 21, 21, 0.8)
  );
}
.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
}
.note-image-container {
  margin-top: 1rem;
  width: 50vw;
  height: 50vw;
}
.note-image {
  width: 50vw;
  height: 50vw;
  object-fit: cover;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}

.note-image:hover {
  transform: scale(1.1);
}

.note-question {
  width: 90vw;
  font-size: 1.6rem;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal.active {
  display: flex;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.modal-image {
  height: 100%;
}

.answer-toggle-button {
  padding: 0.5rem;
  background-color: rgb(6, 123, 192);
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  cursor: pointer;
}

.note-answer {
  width: 90vw;
  font-size: 1.6rem;
  color: white;
}
