.note-component-container {
  position: fixed;
  transform: translateY(5vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  /* background: linear-gradient(
    to bottom right,
    rgba(21, 21, 21, 1),
    rgba(21, 21, 21, 0.8)
  ); */
}

.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 100vw;
  overflow: hidden;
  justify-content: center;
}
.note-image-container {
  --img-width-size: 66vw;
  --img-height-size: min(66vw, 100vw);
  margin-top: 4rem;
  width: var(--img-width-size);
  height: var(--img-height-size);
}

@media screen and (min-width: 26rem) {
  .note-image-container {
    --img-width-size: 16.8rem;
    --img-height-size: 16.8rem;
  }
}
.note-image {
  width: var(--img-width-size);
  height: var(--img-height-size);
  object-fit: cover;
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 4rem 0.1rem rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.note-image:hover {
  transform: scale(1.1);
}

.note-question-container {
  position: relative;
  width: 90vw;
  text-align: center;
  font-size: 1.6rem;
  color: white;
}

.note-question {
  margin-left: auto;
  width: 90vw;
  font-size: 1.6rem;
  color: white;
}

.modal {
  position: fixed;
  top: 5vh;
  height: calc((100% - 100vh) + 90vh);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal.active {
  display: flex;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  z-index: 2000;
}
/* 1200 1349 */
.modal-image {
  height: 90vh;
}

.answer-toggle-button {
  position: absolute;
  bottom: 16vh;
  padding: 0.5rem;
  background-color: rgb(6, 123, 192);
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  cursor: pointer;
}

.note-answer {
  text-align: center;
  width: 90vw;
  font-size: 1.6rem;
  color: white;
}
